<!DOCTYPE html>
<html>
	<head>
		<meta charse="UTF-8" />
		<title>Casa Cambio</title>
	</head>
	<body>
		<h1>Casa Cambio</h1>
		<form
			action="{{url_for('cambio')}}"
			method="post"
		>
			<table>
				<thead>
					<tr>
						<th>Currency I have</th>
						<th>Amount</th>
						<th>Currency I want</th>
						<th>Amount</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>
							<select
								name="presentCurrency"
								id="presentCurrency"
							>
								<option value="Mexico">Mexican Peso</option>
								<option value="Britain">British Pound</option>
								<option value="Canada">Canadian Dolar</option>
								<option value="USA">US Dollar</option>
							</select>
						</td>
						<td>
							<input
								type="text"
								id="presentAmount"
								name="presentAmount"
							/>
						</td>
						<td>
							<select
								name="futureCurrency"
								id="futureCurrency"
							>
								<option value="Mexico">Mexican Peso</option>
								<option value="Britain">British Pound</option>
								<option value="Canada">Canadian Dolar</option>
								<option value="USA">US Dollar</option>
							</select>
						</td>
						<td>
							<input
								type="text"
								id="newAmount"
								name="newAmount"
							/>
						</td>
					</tr>
				</tbody>
			</table>
			<!-- <input
				type="number"
				id="frecuencia"
				name="frecuencia"
				min="0"
				max="400"
			/> -->
			<button type="submit">Convert</button>
		</form>

		<br />
		{{clasificacion}}
	</body>
</html>
